@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

button, a {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation; /* removes 300ms delay */
}

.swiper-pagination-bullet {
  background-color: #545455 !important;

  opacity: 1;
  /* make them solid */
}

/* Active dot */
.swiper-pagination-bullet-active {
  background-color: #056629 !important;
}