@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}


.swiper-pagination-bullet {
  background-color: #545455 !important;

  opacity: 1;
  /* make them solid */
}

/* Active dot */
.swiper-pagination-bullet-active {
  background-color: #056629 !important;
}